/* MEDIA QUERIES */

@media screen and (max-width: 1344px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1152px) {
  .logga {
  margin-left: 0px;
  padding-top: 0px;
  width: 260px;
}
}

@media screen and (max-width: 1024px) {
  .ruta {
  max-width: 300px;
  } 
  .logga {
  margin-left: 0px;
  padding-top: 0px;
  width: 260px;
}
}

@media screen and (max-width: 960px) {
  .ruta {
  max-width: 300px;
  } 
  .logga {
  margin-left: 0px;
  padding-top: 0px;
  width: 240px;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

@media screen and (max-width: 767px) {
  .logga {
  margin-left: 60px;
  padding-top: 80px;
  width: 170px;
}
/* MENU */
.menu {
  word-spacing: 0px;
  font-size: 20px;
} 
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 560px) {
  .logga {
  margin-left: 40px;
  padding-top: 80px;
  width: 160px;
}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {

}

@media screen and (max-width: 480px) {
  .logga {
  margin-left: 40px;
  padding-top: 80px;
  width: 110px;
}
}

@media screen and (max-width: 360px) {
  .logga {
  margin-left: 40px;
  padding-top: 80px;
  width: 80px;
}
}

@media screen and (max-width: 360px) {
  .logga {
  margin-left: 40px;
  padding-top: 80px;
  width: 80px;
}
}










